<section class="card-container">
        <form [formGroup]="formRole" class="flex">
            <div class="mr-2">
                <label for="name">Name</label>
                <input id="name" formControlName="name" type="text" class="input-field" />
            </div>
            <div class="mr-2">
                <label for="permission">Permission</label>
                <input id="permission" formControlName="permission" type="text" class="input-field" />
            </div>
            <div class="pt-6">
                <button
                    type="button"
                    (click)="onAdd()"
                    class="button-action"
                >
                    Add
                </button>
            </div>
        </form>
    </section>